.header__bg {
  width: 100%;
  background: var(--purple-dark);
  color: var(--white);
  padding-block: 1.25rem;
  position: fixed;
  filter: opacity(0.9);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  height: 100%;
  padding: 0.5rem;
  display: inline-block;
}

#menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 1px;
  background: var(--white);
  transition: 0.3s;
}

#btn-mobile {
  color: var(--white);
  display: none;
}

#menu a:hover::after,
#menu a:focus::after {
  width: 100%;
}

@media (max-width: 600px) {
  .header__bg {
    filter: opacity(1);
  }
  #menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 4.375rem;
    right: 0px;
    background: var(--purple-light);
    transition: 0.3s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #menu li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #nav.active #menu {
    height: calc(100vh - 4.375rem);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);

    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 4vh, 1.5rem);
  }
  #menu a:hover::after,
  a:focus::after {
    width: 0%;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 1.25rem;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 2px;
    background: currentColor;
    margin-top: 0.5rem;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
